
@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="card bg-light">
    <article class="card-body">
        <h2 class="card-title mt-3 text-center"style="color:red">Create Account</h2>
        <p class="text-center">Get started with your free account</p>
        <p>
            <a href="https://twitter.com/login" class="btn btn-block btn-twitter"style="color:blue"> <i class="fab fa-twitter btn btn-primary"></i>   Login Twitter</a>
            <a href="https://www.facebook.com/login" class="btn btn-block btn-facebook"style="color:blue"> <i class="fab fa-facebook-f btn btn-primary"></i>   Login facebook</a>
        </p>
       
        <form asp-controller="Service" asp-action="Create" method="post" class=" mt-4" autocomplete="off">
            <p class="form-group input-group col-sm-10 " style="font-weight:600;font-size:30px">Thông tin cá nhân</p>
            <hr />
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" HoTen "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" HoTen" class=" form-control" />
                    <span asp-validation-for=" HoTen" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Email "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Email" class=" form-control" />
                    <span asp-validation-for=" Email" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" SoDienThoai "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" SoDienThoai" class=" form-control" type="tel"  />
                    <span asp-validation-for=" SoDienThoai" class=" text-danger"></span>
                </div>
            </div>

            <p class="form-group input-group col-sm-10" style="font-weight:600;font-size:30px">Mật khẩu của bạn</p>
            <hr />
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" MatKhau "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" MatKhau" class=" form-control" />
                    <span asp-validation-for=" MatKhau" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" XacnhanMatKhau "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" XacnhanMatKhau" class=" form-control" />
                    <span asp-validation-for=" XacnhanMatKhau" class=" text-danger"></span>
                </div>
            </div>

            <p class="form-group input-group col-sm-10" style="font-weight:600;font-size:30px">Thông tin địa chỉ</p>
            <hr />
            <div class=" form-group input-group">
                <label class="col-md-2" asp-for=" TinhTp " for="ddlProvince">Tỉnh thành</label>
                <div class=" col-sm-10">
                    <select asp-for="TinhTp" id="ddlProvince" class="form-control" onclick="getAllDistByPID(this.value)">

                        <option value="">Chọn tỉnh thành</option>
                    </select>
                    <span asp-validation-for=" TinhTp" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <label class="col-md-2" asp-for="QuanHuyen" for="ddlDistrict">Quận/Huyện</label>
                <div class=" col-sm-10">
                    <select class="form-control" asp-for="QuanHuyen" id="ddlDistrict" onclick="getAllWardByPID(this.value)">
                        <option value="">Chọn quận/huyện</option>
                    </select>
                    <span asp-validation-for=" QuanHuyen" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <label class="col-sm-2" asp-for="PhuongXa" for="ddlWard">Phường/Xã</label>
                <div class=" col-sm-10">
                    <select class="form-control" asp-for="PhuongXa" id="ddlWard">
                        <option value="">Chọn phường/xã</option>
                    </select>
                    <span asp-validation-for=" PhuongXa" class=" text-danger"></span>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="col-sm-2">
                    <label asp-for=" Diachi "></label>
                </div>
                <div class=" col-sm-10">
                    <input asp-for=" Diachi" class=" form-control" />
                    <span asp-validation-for=" Diachi" class=" text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary  float-lg-right"> Create Account  </button>
            </div>
            <p class="text-center">Have an account? <a href="">Log In</a> </p>
        </form>
    </article>
</div> 

<br>
<br>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@section Scripts{
    <script>
        getAllProvinces();
        function getAllProvinces() {
            $.ajax({
                url: '/Service/GetAllProvinces',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    
                    for (let i = 0; i < data.length; i++) {
                        if (i == 14) {
                            $('#ddlProvince').append(`<option value='${data[14].id}' selected>${data[14]._name}</option>`);
                            getAllDistByPID(data[i].id=15);
                        } else {
                            $('#ddlProvince').append(`<option value='${data[i].id}'>${data[i]._name}</option>`);
                        }
                        
                       
                    }
                }
            });
        }
        function getAllDistByPID(id) {
            $.ajax({
                url: '/Service/GetAllDistrictByProvinceId/' + id,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $('#ddlDistrict').html('<option value="">Chọn quận/huyện</option>');
                    for (let i = 0; i < data.length; i++) {
                        if (i == 0) {
                            $('#ddlDistrict').append(`<option value='${data[i].id}' selected>${data[i]._name}</option>`);
                            getAllWardByPID(data[i].id);
                        } else {
                            $('#ddlDistrict').append(`<option value='${data[i].id}'>${data[i]._name}</option>`);
                        }
                       
                    }
                }
            });
        }
        function getAllWardByPID(id) {
            $.ajax({
                url: '/Service/GetAllWardByDistrictId/' + id,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $('#ddlWard').empty();
                    //$('#ddlWard').append('<option value="">Chọn phường/xã</option>');
                    for (let i = 0; i < data.length; i++) {
                        if (i == 0) {
                            $('#ddlWard').append(`<option value='${data[i].id}' selected>${data[i]._name}</option>`);
                        }
                        else {
                            $('#ddlWard').append(`<option value='${data[i].id}'>${data[i]._name}</option>`);
                        }
                       
                    }
                }
            });
        }
        $("#ddlWard").on('change', function () {
            var provinceText = $("#ddlProvince option:selected").text();
            var districtText = $("#ddlDistrict option:selected").text();
            var wardText = $("#ddlWard option:selected").text();
            var html = "Tỉnh thành: " + provinceText + " " + "Quận huyện: " + districtText + " " + "Xã phường: " + wardText;
            $("#divResult").html(html);
        });

    </script>
}
